{% extends 'core/base.html' %}
{% block title %}Suma{% endblock %}
{% block content %}
<div class="container">
    <div style="padding-top:50px; text-align:center;">
        <h1>Operaciones matemáticas</h1>

        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">                    
                {{ form.number1 }}
            </div>
            <div class="form-group">                    
                {{ form.number2 }}
            </div>
            <div class="form-group">                    
                {{ form.operation }}
            </div>
            <br>
            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Operar">
        </form>
    </div>
</div>
{% endblock %}